button{
    background-color: blueviolet;
    color: white;
    width: 100px;
    border-radius: 5px;
    border: 2px solid black;
}
button:hover{
    background-color: white;
    color: black;
    border-color: blueviolet;
}
 /* p:hover{
    background-color: blueviolet;
    cursor: pointer;
 } */
 input:focus{
    background-color: blueviolet;
 }
 li:nth-child(2){
    border: 1px solid blueviolet;
 }
 #p2::after{
   content: " - aqui nós add o after";
   border: 1px dotted black;
 }

 #p2::before{
   content: "Aqui addemos o before ";
   border: solid 2px blueviolet;
 }
 .P3::first-letter{
   font-size: 4em;
   color: blueviolet;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
 }
 .P3::first-line{
   background-color: rgb(207, 151, 250);
   color: white;
 }
 #P5::selection{
   background-color: rgb(207, 151, 250);
   color: white;
 }
