#container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70vh;
    align-items: center ;
}
 
.item{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    flex-grow: 1;
}
.item-1{
    height: 20px;
}
.item-2{
    flex-grow: 1;
}